*.class
*.exe
trees/node_modules/
CLanguage/clang.md
CLanguage/const
AdventofCode/day9/solution/tmp/
AdventofCode/day_10/solution/tmp/
AdventofCode/day3/solution/tmp/
AdventofCode/day4/input/samplep2
AdventofCode/day2/solution/tmp/
AdventofCode/day7/solution/tmp/
AdventofCode/day8/solution/tmp/
AdventofCode/day5/solution/tmp/
AdventofCode/day6/solution/tmp/
AdventofCode/day3/solution/tmp/
AdventofCode/day4/input/samplep2
AdventofCode/day4/solution/tmp/
Exercises/HashMaps/ScrathCards.js
Exercises/HashMaps/input.txt
AdventofCode/day1/solution/solution2.go
AdventofCode/day1/solution/tmp/build-errors.log
AdventofCode/day1/solution/tmp/main
GoLang/geometry/tmp/
GoLang/ErrorsPac/ErrorsPac
GoLang/ErrorsPac/courses
GoLang/ErrorsPac/tmp/
GoLang/htmltempl/htmltempl
__pycache__
*__pycache__
*.out*
a.out
*a.out
*sample.txt
gittoken
*.mod
GoLang/arrays/tmp/
GoLang/types/bin/
GoLang/types/tmp/
GoLang/variables/tmp/
GoLang/templates/tmp/

*/tmp/

*/tmp/*
/tmp/*
*/tmp/main
