*.class
AdventofCode/day1/solution/solution2.go
AdventofCode/day1/solution/tmp/build-errors.log
AdventofCode/day1/solution/tmp/main
GoLang/geometry/tmp/
GoLang/ErrorsPac/ErrorsPac
GoLang/ErrorsPac/courses
GoLang/ErrorsPac/tmp/
GoLang/htmltempl/htmltempl
__pycache__
*__pycache__
*.out*
a.out
*a.out
*sample.txt
gittoken
*.mod
GoLang/arrays/tmp/
GoLang/types/bin/
GoLang/types/tmp/
GoLang/variables/tmp/
GoLang/templates/tmp/

*/tmp/

*/tmp/*
/tmp/*
*/tmp/main
